.form-container {
  @include grid(2,2);
  padding: $m-spacing;
  margin: 0 auto $xl-spacing auto;
}

.form-text {
    @include capital-style;
}

.form {
    @include box(flex, column, nowrap, center, center);
    margin: 0 $l-spacing;

    &__label {
        align-self:flex-start;
        font-weight: bold;
        color: $color-primary;
    }

    &__input {
        width: 100%;
        padding: $s-spacing;
        margin-top: $xs-spacing;
        margin-bottom: $s-spacing;
        border: 1px solid $color-neutral;
        border-radius: 3px;
    }

    &__button{
        @include button-styles;
        padding: $xs-spacing $l-spacing;
    }
}