<section id="activities">
    <h2>Activities</h2>
    <div class="cards-container">
      <div class="card">
        <figure class="card__figure">
          <img class="card__image" src="./assets/images/cards/ozgu-ozden-iYGQg6IiGRY-unsplash.jpg" alt="Tokyo outdoor activity image">
        </figure>
        <div class="card__body">
          <h4 class="card__title">Outdoor activities</h4>
          <p class="card__paragraph">
            Discover Tokyo's vibrant outdoor scene, where urban adventures await amidst stunning natural landscapes. From tranquil parks and gardens perfect for leisurely strolls to thrilling hiking trails offering panoramic city views, there's no shortage of ways to explore the great outdoors in this bustling metropolis. Embrace the energy of the city's riverside promenades, bustling markets, and lively street festivals, or escape to nearby mountains for hiking, skiing, and hot spring retreats. Whether cycling along scenic paths, picnicking under cherry blossom trees, or simply soaking up the sun in a local park, Tokyo offers endless opportunities for outdoor enthusiasts to connect with nature and experience the city from a new perspective.
          </p>
        </div>
      </div>

      <div class="card">
        <figure class="card__figure">
          <img class="card__image" src="./assets/images/cards/jezael-melgoza-layMbSJ3YOE-unsplash.jpg" alt="Tokyo shopping image">
        </figure>
        <div class="card__body">
          <h4 class="card__title">Shopping districts</h4>
          <p class="card__paragraph">
            Tokyo boasts an eclectic array of shopping districts, each offering a unique shopping experience that caters to every taste and style. From the fashionable streets of Ginza, lined with luxury boutiques and department stores, to the quirky shops and trendy fashion boutiques of Harajuku, there's something for everyone in Tokyo's bustling retail scene. Explore the bustling markets of Asakusa, where traditional crafts and souvenirs abound, or wander through the vibrant stalls of Ameya-Yokocho, a bustling street market offering everything from fresh produce to electronics. Whether seeking high-end designer labels or one-of-a-kind treasures, Tokyo's shopping districts promise a memorable retail adventure.
          </p>
        </div>
      </div>

      <div class="card">
        <figure class="card__figure">
          <img class="card__image" src="./assets/images/cards/alex-knight-DpPutJwgyW8-unsplash.jpg" alt="Tokyo nightlife image">
        </figure>
        <div class="card__body">
          <h4 class="card__title">Nightlife</h4>
          <p class="card__paragraph">
            Experience the electrifying nightlife of Tokyo, where the city comes alive after dark with an array of entertainment options to suit every taste. From trendy cocktail bars and rooftop lounges boasting panoramic city views to vibrant izakayas and karaoke joints tucked away in narrow alleyways, Tokyo offers a dynamic nightlife scene that never fails to impress. Dive into the neon-lit streets of Shinjuku and Shibuya, where bustling clubs and late-night eateries keep the party going until the early hours, or unwind in the sophisticated atmosphere of Roppongi, known for its upscale bars and international crowd. Whether seeking live music performances, underground clubs, or immersive dining experiences, Tokyo's nightlife promises an unforgettable evening of excitement and adventure.
          </p>
        </div>
      </div>

      <div class="card">
        <figure class="card__figure">
          <img class="card__image" src="./assets/images/cards/rantau-backpacker-y_Y-8-by2Pk-unsplash.jpg" alt="Tokyo family image">
        </figure>
        <div class="card__body">
          <h4 class="card__title">Family-friendly activities</h4>
          <p class="card__paragraph">
            Tokyo offers a plethora of family-friendly activities that cater to all ages and interests. Explore the enchanting world of theme parks, such as Tokyo Disneyland and Tokyo DisneySea, where magical adventures await amidst thrilling rides and beloved characters. Immerse yourself in the wonders of science and technology at interactive museums like the National Museum of Emerging Science and Innovation (Miraikan) or embark on a journey through the animal kingdom at Ueno Zoo. Take a leisurely boat ride along the Sumida River, or enjoy a picnic amidst the cherry blossoms in one of Tokyo's many picturesque parks. With its vibrant culture, diverse attractions, and welcoming atmosphere, Tokyo promises endless fun and excitement for the whole family to enjoy.                </p>
        </div>
      </div>
    </div>
  </section>