<section id="attractions">
    <h2>Attractions</h2>
    <div class="rows-container">
      <div class="row">
        <div class="row__button" data-expand="0">
          <h4 class="row__name">Landmarks</h4>
          <span class="row__icon"><i class="fa-sharp fa-solid fa-plus"></i></span>
        </div>
        <div class="row__body">
          <ul class="row__list">
            <li class="row__list-item"><b>Tokyo Tower</b>: An iconic landmark resembling the Eiffel Tower, offering panoramic views of the city from its observation decks.</li>
            <li class="row__list-item"><b>Senso-ji Temple</b>: Tokyo's oldest temple located in Asakusa, known for its historic architecture, bustling Nakamise shopping street, and traditional atmosphere.</li>
            <li class="row__list-item"><b>Tokyo Skytree</b>: The tallest tower in Japan, providing breathtaking views of Tokyo and beyond, along with a variety of entertainment and dining options.</li>
            <li class="row__list-item"><b>Meiji Shrine</b>: A serene Shinto shrine nestled in the heart of bustling Shibuya, surrounded by a lush forest and offering a tranquil escape from the city's hustle and bustle.</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="row__button" data-expand="0">
          <h4 class="row__name">Museums</h4>
          <span class="row__icon"><i class="fa-sharp fa-solid fa-plus"></i></span>
        </div>
        <div class="row__body">
          <ul class="row__list">
            <li class="row__list-item"><b>Tokyo National Museum</b>: Japan's oldest and largest museum, featuring an extensive collection of traditional and contemporary Japanese art, artifacts, and cultural treasures.</li>
            <li class="row__list-item"><b>Mori Art Museum</b>: Located in the Roppongi Hills complex, this contemporary art museum showcases innovative exhibitions and installations by both Japanese and international artists.</li>
            <li class="row__list-item"><b>Edo-Tokyo Museum</b>: Offers immersive exhibits and interactive displays showcasing the history and culture of Tokyo (formerly Edo) from the Edo period to the present day.</li>
            <li class="row__list-item"><b>Ghibli Museum</b>: A whimsical museum dedicated to the works of renowned Japanese animation studio Studio Ghibli, featuring exhibits, screenings, and exclusive Ghibli merchandise.</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="row__button" data-expand="0">
          <h4 class="row__name">Parks</h4>
          <span class="row__icon"><i class="fa-sharp fa-solid fa-plus"></i></span>
        </div>
        <div class="row__body">
          <ul class="row__list">
            <li class="row__list-item"><b>Ueno Park</b>: A sprawling green space in central Tokyo, home to cherry blossoms in spring, museums, temples, and a zoo, offering recreational activities and cultural attractions for visitors of all ages.</li>
            <li class="row__list-item"><b>Shinjuku Gyoen National Garden</b>: A tranquil oasis in the heart of bustling Shinjuku, featuring diverse gardens, ponds, and walking paths amidst a backdrop of skyscrapers.</li>
            <li class="row__list-item"><b>Yoyogi Park</b>: A popular urban park adjacent to Meiji Shrine, known for its spacious lawns, wooded areas, and vibrant atmosphere, perfect for picnics, sports, and relaxation.</li>
            <li class="row__list-item"><b>Hamarikyu Gardens</b>: A traditional Japanese garden situated alongside Tokyo Bay, offering scenic views, tea houses, and seasonal flower displays amidst ponds, bridges, and meticulously landscaped grounds.</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="row__button" data-expand="0">
          <h4 class="row__name">Pints of interest</h4>
          <span class="row__icon"><i class="fa-sharp fa-solid fa-plus"></i></span>
        </div>
        <div class="row__body">
          <ul class="row__list">
            <li class="row__list-item"><b>Akihabara</b>: Tokyo's electronic and anime district, renowned for its vibrant nightlife, gaming arcades, manga stores, and otaku culture.</li>
            <li class="row__list-item"><b>Shibuya Crossing</b>: One of the world's busiest pedestrian intersections, a symbol of Tokyo's energy and chaos, surrounded by neon lights, giant screens, and bustling shopping streets.</li>
            <li class="row__list-item"><b>Odaiba</b>: A futuristic entertainment and shopping district located on a man-made island in Tokyo Bay, featuring waterfront parks, malls, museums, and iconic landmarks like the Rainbow Bridge and Gundam statue.</li>
            <li class="row__list-item"><b>Tsukiji Outer Market</b>: A bustling marketplace in the vicinity of the former Tsukiji Fish Market, offering a wide array of fresh seafood, street food stalls, and traditional shops selling kitchenware and souvenirs.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>