<section id="contact">
    <h2>Contact Us</h2>
    <div class="form-container">
      <p class="form-text">
        Welcome to our travel company, where your journey to Tokyo begins! We specialize in crafting unforgettable experiences tailored to your desires in the vibrant heart of Japan. Whether you're drawn to the serene gardens of Kyoto, the bustling streets of Shinjuku, or the tranquil temples of Kamakura, our expert team is dedicated to curating seamless and personalized trips that immerse you in the rich culture, history, and cuisine of Tokyo and beyond. Share your travel aspirations with us below, and let us transform your dream adventure into a reality.
      </p>
      <form class="form" id="contact-form">
        <label class="form__label" for="name">Name</label>
        <input class="form__input" type="text" id="name" name="name" placeholder="Your name.." required>
    
        <label class="form__label" for="email">Email</label>
        <input class="form__input" type="email" id="email" name="email" placeholder="Your email.." required>
    
        <label class="form__label" for="message">Message</label>
        <textarea class="form__input" id="message" name="message" placeholder="Write something.." required></textarea>
    
        <input class="form__button" type="submit" value="Submit">
      </form>
    </div>
  </section>