<header class="header">
    <span class="header__title">
      <i class="header__main-icon fa-sharp fa-solid fa-torii-gate"></i>東京
    </span>

    <button class="header__button">
      <i class="fa-solid fa-bars fa-2xl header__menu-icon"></i>
    </button>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item"><a href="#about" class="header__link">About the city</a></li>
        <li class="header__list-item"><a href="#activities" class="header__link">Activities</a></li>
        <li class="header__list-item"><a href="#attractions" class="header__link">Attractions</a></li>
        <li class="header__list-item"><a href="#contact" class="header__link">Contact</a></li>
      </ul>
    </nav>
  </header>