<section class="carousel-container">
    <div class="carousel__display">
      <h1 class="carousel__display-title"><em>Konnichiwa</em> TOKYO こんにちは</h1>
    </div>

    <div class="carousel">
      <button class="carousel__button carousel__button--previous" 
      data-direction="previous">
        <i class="fa-sharp fa-solid fa-chevron-left fa-xl carousel__icon"></i>
      </button>
  
      <button class="carousel__button carousel__button--next" 
      data-direction="next">
        <i class="fa-sharp fa-solid fa-chevron-right fa-xl carousel__icon"></i>
      </button>
  
      <img class="carousel__image" src="./assets/images/carousel/yu-kato-824OwkP7sgk-unsplash.jpg" alt="random image">
      <img class="carousel__image hidden" src="./assets/images/carousel/sora-sagano-8sOZJ8JF0S8-unsplash.jpg" alt="random image">
      <img class="carousel__image hidden" src="./assets/images/carousel/louie-martinez-IocJwyqRv3M-unsplash.jpg" alt="random image">
      <img class="carousel__image hidden" src="./assets/images/carousel/andre-benz-MsMISAIe8Qw-unsplash.jpg" alt="random image">
      <img class="carousel__image hidden" src="./assets/images/carousel/david-edelstein-N4DbvTUDikw-unsplash.jpg" alt="random image">
    </div>  
    <div>
      <p class="carousel__paragraph">
        Tokyo, a vibrant metropolis where tradition and innovation collide to create a unique and unforgettable experience. As Japan's bustling capital city, Tokyo is a dynamic fusion of ancient culture and modernity, offering visitors a kaleidoscope of sights, sounds, and flavors to explore. From towering skyscrapers and neon-lit streets to tranquil gardens and historic temples, Tokyo seamlessly blends the past with the present, promising an adventure around every corner. Whether you're drawn to its iconic landmarks like the towering Tokyo Skytree and historic Senso-ji Temple, or eager to dive into its world-renowned culinary scene and bustling shopping districts, Tokyo is a city that never fails to captivate and inspire. Get ready to immerse yourself in the energy and excitement of Tokyo, where every moment is a new discovery waiting to be made.
      </p>
    </div>
  </section>